<%- include('./partials/header') %>

<div class="container">
    <div class="row">
        <div col-sm-4>

        </div>
        <div col-sm-4>
            <P style="color:white">Booking Details</P>
            <p style="color:white">Booking by : <%=booking.name%></p>
            <p style="color:white">Date of  visit : <%=booking.time%></p>
            <P style="color:white">No. of Persons : <%=booking.person%></P>
            <P style="color:white">Table No.  : <%=booking.table%></P>
            <p style="color:white">Contact No.<%=booking.mobile%></p>
        </div>
        <div col-sm-4>

        </div>

    </div>

</div>